body {
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
}

.content {
    width: 960px;
    margin: auto;
    
}

.background {
    background-image: url('file://Users/joshuajohnson/Desktop/iffall2021/publish/multi-panel-page/images/desk.jpeg');
} 

header {
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
}

header .content {
    padding: 152px 0 180px 0;
}

header h1 {
    font-size: 80px;
}
header h2 {
    font-size: 30px;
}

.section-two {
    background-color: rgb(245, 235, 217);
    color:rgb(32, 27, 18);
}
.content .section-two {
    padding: 27px 0 65px 0;
}

.section-three {
    background-color: rgb(168, 23, 23);
    color: whitesmoke;
}
.content .section-three {
    padding: 28px 0 53px 0;
    

}

section .content {
    padding: 27px 0 65px 0;
}


section h1 {
    font-size: 40px;
}

.large-image {
    float: right;
    margin: 0px 0px 20px 40px;
}

section p {
    font-size: 18px;
}

.section-three p {
    font-size: 25px;
    width: 680px;
    margin: auto;
}

div .text-box {
    padding: 15px 0 0 0;
}

.section-one {
    background-color: rgb(20, 44, 71);
    color: whitesmoke;
}


.grid {
    padding: 0;
}

li .text {
    padding: 16px 0px 18px 0px; 
}

li h2 {
    font-size: 20px;
    margin: 0 0 0 0;
}

.grid li {
    width: 236px;
    text-align: left;
    font-size: 20px; 
    margin: 0 0 -34px 0;
    display: inline-block;
    padding: 16px 0px 18px 0px; 
}

.grid .text {
    margin: 0px 30px -34px -28px;
}

footer {
    font-size: 18px;
    padding: 60px 0 40px 0;
    background-color:rgb(32, 27, 18);
    color:rgb(245, 235, 217);
}